{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">b</span><span class="base09">a</span><span
    class="base0a">s</span><span class="base0b">e</span><span class="base0c">1</span><span class="base0d">6</span><span
    class="base05">]</span>
  <span class="base05">Website</span>
</h1>

<nav class="site-nav">
  <ul>
    <li><a href="{{ $baseurl }}/about">About</a></li>
    <li><a href="{{ $baseurl }}/blog">Blog</a></li>
    <li><a href="{{ $baseurl }}/contact">Contact</a></li>
  </ul>
</nav>

<footer class="site-footer">
  <p>
    <a href=#!>RSS</a>
    <a href=#!>Twitter</a>
    <a href=#!>GitHub</a>
  </p>
</footer>